body {
  font-family: cursive;
  background-color: #6fa8dc;
}

h1 {
  position: fixed;
  margin-top: -70px;
  margin-left: 40px;
  font-size: 50px;
}

h2 {
    margin-top: 30px;
    margin-left: 130px;
    font-size: 20px;
}

.container {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid black;
  position:fixed;
  top: 50%;
  left: 50%;
  margin-top: -12em;
  margin-left: -12em;
}

.form-group {
    margin-left: 60px;
}

input[type=text], input[type=password], input[type=number], input[type=date] {
  width: 130px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid black;
  background: white;
  display: inline-block;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus {
  background-color: #ddd;
  outline: none;
}

.login {
  background-color: #2b78e4;
  color: white;
  padding: 12px 10px;
  margin-left: 110px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  width: 100px;
  font-weight: bold;
  opacity: 0.9;
}

.login:hover {
  opacity: 1;
}

.notification_error {
  border: 1px solid #A25965;
  height: auto;
  width: 100%;
  padding: 4px;
  background: #F8F0F1;
  text-align: center;
}

/* -- MAIN PAGE CONTENT STYLE -- */
.welcome {
  margin-right: 50px;
  color: white;
  font-weight: bold;
}

.main-main {
  padding: 0 10%;
  background: #f2f4f5;
  height: 100%;
}

.list-dropdowns {
  background: white;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  list-style-type: none;
  display: inline-flex;
}

.list-employees {
  background: white;
  padding: 20px;
  margin: 0px;
  list-style-type: none;
  display: inline-flex;
}

hr {
  margin: 0;
  background-color: black;
  width: 1028px;
}

.title-emlpoyees {
  background: white;
  padding: 0px;
  margin: 0px;
  min-width: 1030px;
  list-style-type: none;
  display: inline-flex;
}

.title-emlpoyee {
  margin-right: 670px;
}

.title-emlpoyees p {
  font-size: 18px;
  font-weight: bold;
}

.same-width {
  min-width: 250px;
  margin: 0px 25px;
}

.sub-same-width {
  min-width: 198px;
}

.btn-primary {
  background-color: #6fa8dc;
  border-color: #6fa8dc;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5994ca;
  border-color: #5994ca;
} 

.nav-background {
  background: #6fa8dc !important;
}

#sidebar-wrapper a {
  background-color: #326596 !important;
  color: white;
}

#sidebar-wrapper {
  background-color: #326596 !important;
  color: white;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: -15rem;
    position: fixed;
    z-index: 2;
    height: 100%;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0 !important;
    opacity: 1;
  }
  
  #wrapper.toggled #page-content-wrapper {
    margin-left: 15rem !important;
  }
}

.sub-main a {
  color: black;
  text-decoration: none;
}

.sub-settings-field {
  background: white;
  padding: 2px;
  margin: 0px;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
}

fieldset { 
  border: 1px solid;
  border-color: #848484;
  border-radius: 5px;
  background: white;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

legend {
  list-style-type: none;
  display: inline-flex;
  font-size: 18px;
  font-weight: bold;
  margin-right: 670px;
}


/* -- Employee Profile -- */
.profile {
  padding-top: 15px;
}

.sub-profile {
  background-color: white;
}

.profile-title {
  margin: 10px;
}

.profile-title p {
  font-size: 30px;
}

.profile-banner {
  background-color: red;
  list-style-type: none;
  margin-bottom: 0px;
}

.profile-banner p {
  margin-left: 30%;
  font: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.profile-content {
  list-style-type: none;
}

.profile-name p{
  font-size: 25px;
  font: bold;
}

.profile-sector p {
  font-size: 25px;
  font: bold;
}

.profile-buttons {
  float: right;
  width: 20%;
  padding-left: 20px;
}

.less:hover {
  cursor: pointer;
}

#more {
  display: none;
}
