body {
    font-family: cursive;
    background-color: #6fa8dc;
  }

  h1 {
    margin: auto;
    text-align: center;
    position: relative;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
  }

h2 {
    margin-top: 30px;
    margin-left: 130px;
    font-size: 20px;
}

  .container {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -12em;
    margin-left: -11em;
  }

.form-group {
    margin-left: 60px;
}

input[type=text], input[type=password] {
  width: 130px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid black;
  background: white;
  display: inline-block;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.login {
  background-color: #2b78e4;
  color: white;
  padding: 12px 10px;
  margin-left: 110px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  width: 100px;
  font-weight: bold;
  opacity: 0.9;
}

.login:hover {
  opacity: 1;
}

/* -- MAIN PAGE CONTENT STYLE -- */

#sidebar-wrapper {
  background-color: #36353e !important;
  color: white;
}

#sidebar-wrapper a {
  background-color: #36353e !important;
  color: white;
}

.welcome {
  margin-right: 50px;
  color: white;
  font-weight: bold;
}

.main-main {
  padding: 0 10%;
  background: #f2f4f5;
  height: 100%;
}

.list-dropdowns {
  background: white;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  list-style-type: none;
  display: inline-flex;
}

.list-employees {
  background: white;
  padding: 20px;
  margin: 0px;
  list-style-type: none;
  display: inline-flex;
}

  input[type=text], input[type=password] {
    width: 130px;
    padding: 10px;
    margin-top: 20px;
    border: 3px solid black;
    background: white;
    display: inline-block;
  }

  input[type=password] {
    margin-left: 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .login {
    background-color: #2b78e4;
    color: white;
    padding: 8px 10px;
    margin-left: 120px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
    font-family: cursive;
    font-size: 15px;
    opacity: 0.9;
  }
}
